<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boost History</title>
</head>
<body>
    <h1>Boost History</h1>
    <table>
        <tr><th>Post URL</th><th>Reactions</th><th>Timestamp</th></tr>
        {% for item in history %}
        <tr>
            <td><a href="{{ item.post_url }}" target="_blank">{{ item.post_url }}</a></td>
            <td>{{ ", ".join(item.reactions) }}</td>
            <td>{{ item.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Go Back</a>
</body>
</html>
