<!DOCTYPE html>
<html>
<head>
    <title>Facebook Auto React</title>
</head>
<body>
    <h2>Facebook Auto React</h2>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Email:</label>
        <input type="text" name="email" required><br>

        <label>Password:</label>
        <input type="password" name="password" required><br>

        <label>Post URL:</label>
        <input type="text" name="post_url" required><br>

        <label>Reactions:</label><br>
        <input type="checkbox" name="reactions" value="like"> Like
        <input type="checkbox" name="reactions" value="love"> Love
        <input type="checkbox" name="reactions" value="care"> Care
        <input type="checkbox" name="reactions" value="haha"> Haha
        <input type="checkbox" name="reactions" value="wow"> Wow
        <input type="checkbox" name="reactions" value="sad"> Sad
        <input type="checkbox" name="reactions" value="angry"> Angry
        <br>

        <button type="submit">Boost Reactions</button>
    </form>

    <br>
    <a href="{{ url_for('history') }}">View Boost History</a>
</body>
</html>
